body {
    background: rgb(255, 223, 0);
    font: normal 15px arial;
}

header {
    color: rgb(222, 204, 156);
    text-align: center;
}

section {
    background: rgb(255, 255, 0);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}